<template>
  <div class="card">
      
      <div class="card-body">
            <h3>Robson</h3>
            <hr/>

            <div class="form-group">
                <label><b>Nome</b></label>
                <input type="text" name="name" v-model.trim="post.name" :class="`form-control  ${ errors.name ? `is-invalid` : ``}`" :disabled="loading" required>
                <div class="invalid-feedback">
                <p v-for="(name_error, indice) in errors.name" :key="indice">{{ name_error }}</p>
                </div>
            </div>

            <div class="form-group">
                <label><b>E-mail</b></label>
                <input type="email" name="email" v-model.trim="post.email" :class="`form-control  ${ errors.email ? `is-invalid` : ``}`" :disabled="loading" required>
                <div class="invalid-feedback">
                <p v-for="(email_error, indice) in errors.email" :key="indice">{{ email_error }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                <div class="form-group">
                    <label><b>Senha</b></label>
                    <input type="password" name="password" v-model.trim="post.password" :class="`form-control  ${ errors.password ? `is-invalid` : ``}`" :disabled="loading" required>
                    <div class="invalid-feedback">
                    <p v-for="(password_error, indice) in errors.password" :key="indice">{{ password_error }}</p>
                    </div>
                </div>
                </div>

                <div class="col-6">
                <div class="form-group">
                    <label><b>Confirmar Senha</b></label>
                    <input type="password" name="password" v-model.trim="post.password_confirmation" :class="`form-control  ${ errors.password ? `is-invalid` : ``}`" :disabled="loading" required>
                    <div class="invalid-feedback">
                    <p v-for="(password_error, indice) in errors.password" :key="indice">{{ password_error }}</p>
                    </div>
                </div>
                </div>
            </div>

            <div class="row">

                <div class="col-12 col-md-4">
                    <div class="form-group">
                    <label><b>CPF</b></label>
                    <input type="cpf" name="cpf" v-model.trim="post.cpf" :class="`form-control  ${ errors.cpf ? `is-invalid` : ``}`" :disabled="loading" required>
                    <div class="invalid-feedback">
                        <p v-for="(cpf_error, indice) in errors.cpf" :key="indice">{{ cpf_error }}</p>
                    </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="form-group">
                    <label><b>Telefone</b></label>
                    <input type="phone" name="phone" v-model.trim="post.phone" :class="`form-control  ${ errors.phone ? `is-invalid` : ``}`" :disabled="loading" required>
                    <div class="invalid-feedback">
                        <p v-for="(phone_error, indice) in errors.phone" :key="indice">{{ phone_error }}</p>
                    </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="form-group">
                    <label><b>Celular</b></label>
                    <input type="mobile" name="mobile" v-model.trim="post.mobile" :class="`form-control  ${ errors.mobile ? `is-invalid` : ``}`" :disabled="loading" required>
                    <div class="invalid-feedback">
                        <p v-for="(mobile_error, indice) in errors.mobile" :key="indice">{{ mobile_error }}</p>
                    </div>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label><b>Endereço</b></label>
                <input type="address" name="address" v-model.trim="post.address" :class="`form-control  ${ errors.address ? `is-invalid` : ``}`" :disabled="loading" required>
                <div class="invalid-feedback">
                <p v-for="(address_error, indice) in errors.address" :key="indice">{{ address_error }}</p>
                </div>
            </div>

            <div class="form-group">
                <label><b>Empresa</b></label>
                <input type="company" name="company" v-model.trim="post.company" :class="`form-control  ${ errors.company ? `is-invalid` : ``}`" :disabled="loading" required>
                <div class="invalid-feedback">
                <p v-for="(company_error, indice) in errors.company" :key="indice">{{ company_error }}</p>
                </div>
            </div>

            <div class="form-group">
                <label><b>Tipo</b></label>
                <select name="type_user_id" :class="`form-control  ${ errors.type_user_id ? `is-invalid` : ``}`" :disabled="loading" v-model.trim="post.type_user_id">
                <option value=""> Selecione</option>
                <option :value="type.id" v-for="type in usersType" :key="type.id"> {{ type.name }}</option>
                </select>
                <div class="invalid-feedback">
                <p v-for="(type_user_error, indice) in errors.type_user_id" :key="indice">{{ type_user_error }}</p>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-info" @click="submit"> <i class="fas fa-edit"></i> Atualizar </button>
            </div>

        </div>
  </div>
</template>

<script>
export default {
    props:['edit', 'usersType'],
    data(){
        return{
            loading: false,
            errors:[],
            post: {
                id: this.edit ? this.edit.id : null,
                name: this.edit ? this.edit.name : null,
                email: this.edit ? this.edit.email : null, 
                password: null,
                password_confirmation: null,
                cpf: this.edit ? this.edit.cpf : null,
                address: this.edit ? this.edit.address : null,
                company: this.edit ? this.edit.company : null,
                phone: this.edit ? this.edit.phone : null,
                mobile: this.edit ? this.edit.mobile : null,
                type_user_id: this.edit ? this.edit.type_user_id : null,
                _method: 'put'
            }
        }
    },

    mounted(){
        if(!this.edit.id){
            document.location.assign('/');
        }
    },

    methods:{
        async submit(){
            this.loading = true;
            await axios.post(`${process.env.MIX_BASE_URL}/user/${this.post.id}`, this.post).then( res => {
                this.loading = false;

                if(res.data.errors){
                this.errors  = res.data.errors;
                return;
                }

                if(res.data.id){
                    Vue.$toast.open({
                        message: 'Atualizado com sucesso',
                        type: 'info',
                        position: 'top-right',
                    });
                }else{
                    Vue.$toast.open({
                        message: 'Ops tente novamente',
                        type: 'error',
                        position: 'top-right',
                    });
                }
                document.location.reload();
            });
        }
    }
}
</script>

<style>

</style>