<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-header">Usuários</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tableData" class="table table-striped table-bordered" style="width:100%; text-align:center;">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>E-mail</th>
                                        <th>CPF</th>
                                        <th>Endereço</th>
                                        <th>Empresa</th>
                                        <th>Telefone</th>
                                        <th>Celular</th>
                                        <th>Tipo</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="user in users" :key="user.id"  v-if="user.id != activeUser.id">
                                        <td class="align-middle">{{ user ? user.name : null }}</td>
                                        <td class="align-middle">{{ user ? user.email : null }}</td>
                                        <td class="align-middle">{{ user ? user.cpf : null }}</td>
                                        <td class="align-middle">{{ user ? user.address : null }}</td>
                                        <td class="align-middle">{{ user ? user.company : null }}</td>
                                        <td class="align-middle">{{ user ? user.phone : null }}</td>
                                        <td class="align-middle">{{ user ? user.mobile : null }}</td>
                                        <td class="align-middle">{{ user.type_user ? user.type_user.name : null }}</td>
                                        <td class="align-middle">
                                            <a :href="`/user/${user.id}/edit`" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></a>
                                            <button type="button" class="btn btn-sm btn-primary" @click="selectUser.id = user.id;" data-toggle="modal" data-target="#deletaUser"><i class="fas fa-trash"></i></button>
                                        </td>
                                    
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Nome</th>
                                        <th>E-mail</th>
                                        <th>CPF</th>
                                        <th>Endereço</th>
                                        <th>Empresa</th>
                                        <th>Telefone</th>
                                        <th>Celular</th>
                                        <th>Tipo</th>
                                        <th>Ação</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deletaUser" tabindex="-1" role="dialog" aria-labelledby="deletaUserLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deletaUserLabel">Deseja mesmo deletar ?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                       <p>Deseja mesmo deletar ?</p>
                        <button type="button"  class="btn btn-sm btn-primary" @click="submit"> Sim</button>
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" aria-label="Close">Não</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    props:['users', 'activeUser'],
    data(){
        return{
            selectUser: {
                id: null,
            }
        }
    },

    mounted(){
        this.dataTable();
    },

    methods:{
        dataTable(){
            $('#tableData').dataTable({
                "iDisplayLength": 30,
                "ordering": true,
                "pageLength": 10,
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ Registros por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    }
                }
            });
        }, 

        async submit(){
            await axios.delete(`${process.env.MIX_BASE_URL}/user/${this.selectUser.id}`).then( res => {
                if(res.data.status){
                    Vue.$toast.open({
                        message: 'Deletado',
                        type: 'success',
                        position: 'top-right',
                    });
                }
                document.location.reload();
            });
        }
        
    }
}
</script>

<style>

</style>