<template>
  <div class="card">
      
     <div class="card-body">

        <div class="form-group">
            <label><b>Nome</b></label>
            <input type="text" v-model.trim="post.name" :class="`form-control  ${ errors.name ? `is-invalid` : ``}`" :disabled="loading" required>
            <div class="invalid-feedback">
            <p v-for="(name_error, indice) in errors.name" :key="indice">{{ name_error }}</p>
            </div>
        </div>

        <div class="form-group">
            <label><b>Link Material</b></label>
            <input type="text" v-model.trim="post.material" :class="`form-control  ${ errors.material ? `is-invalid` : ``}`" :disabled="loading" required>
            <div class="invalid-feedback">
            <p v-for="(material_error, indice) in errors.material" :key="indice">{{ material_error }}</p>
            </div>
        </div>

        <div class="form-group">
            <label><b>Descrição</b></label>
            <textarea type="text" v-model.trim="post.description" rows="3" :class="`form-control  ${ errors.description ? `is-invalid` : ``}`" :disabled="loading" ></textarea>
            <div class="invalid-feedback">
            <p v-for="(description_error, indice) in errors.description" :key="indice">{{ description_error }}</p>
            </div>
        </div>

        <div class="row">

            <div class="col-12 col-md-3">
            <div class="form-group">
                <label><b>Valor</b></label>
                <input type="text" v-model.trim="post.value" :class="`form-control  ${ errors.value ? `is-invalid` : ``}`" :disabled="loading" required>
                <div class="invalid-feedback">
                <p v-for="(value_error, indice) in errors.value" :key="indice">{{ value_error }}</p>
                </div>
            </div>
            </div>

            <div class="col-12 col-md-3">
            <div class="form-group">
                <label><b>Data Inicio</b></label>
                <input type="date" v-model.trim="post.start" :class="`form-control  ${ errors.start ? `is-invalid` : ``}`" :disabled="loading" required>
                <div class="invalid-feedback">
                <p v-for="(start_error, indice) in errors.start" :key="indice">{{ start_error }}</p>
                </div>
            </div>
            </div>

            <div class="col-12 col-md-3">
            <div class="form-group">
                <label><b>Data Termino</b></label>
                <input type="date" v-model.trim="post.end" :class="`form-control  ${ errors.end ? `is-invalid` : ``}`" :disabled="loading" required>
                <div class="invalid-feedback">
                <p v-for="(end_error, indice) in errors.end" :key="indice">{{ end_error }}</p>
                </div>
            </div>
            </div>

            <div class="col-12 col-md-3">
            <div class="form-group">
                <label><b>Qtd Inscrições</b></label>
                <input type="number" v-model.trim="post.max_subscriptions" :class="`form-control  ${ errors.max_subscriptions ? `is-invalid` : ``}`" :disabled="loading" required>
                <div class="invalid-feedback">
                <p v-for="(max_subscriptions_error, indice) in errors.max_subscriptions" :key="indice">{{ max_subscriptions_error }}</p>
                </div>
            </div>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-info" @click="submit"> <i class="fas fa-edit"></i> Atualziar </button>
        </div>

            
        </div>
  </div>
</template>

<script>
export default {
    props:['edit'],
    data(){
        return{
             loading: false,
            errors:[],
            post: {
                id: this.edit ? this.edit.id : null,
                name: this.edit ? this.edit.name : null,
                description: this.edit ? this.edit.description : null,
                value: this.edit ? this.edit.value : null,
                start: this.edit ? this.edit.start : null,
                end: this.edit ? this.edit.end : null,
                max_subscriptions: this.edit ? this.edit.max_subscriptions : null,
                material: this.edit ? this.edit.material : null,
                _method: 'put'
            }
        }
    },

    mounted(){
        if(!this.edit.id){
            document.location.assign('/');
        }
    },

    methods:{
        async submit(){
            this.loading = true;
            await axios.post(`${process.env.MIX_BASE_URL}/course/${this.post.id}`, this.post).then( res => {
                this.loading = false;

                if(res.data.errors){
                this.errors  = res.data.errors;
                return;
                }

                if(res.data.id){
                    Vue.$toast.open({
                        message: 'Atualizado com sucesso',
                        type: 'info',
                        position: 'top-right',
                    });
                }else{
                    Vue.$toast.open({
                        message: 'Ops tente novamente',
                        type: 'error',
                        position: 'top-right',
                    });
                }
                document.location.reload();
            });
        }
    }
}
</script>

<style>

</style>