<template>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12 text-right">
        <button type="button"  data-toggle="modal" data-target="#cadastrarNovo" @click="limpar();" class="btn btn-success btn"> <i class="fas fa-plus"></i> Cadastrar </button>
      </div>

       <!-- Modal -->
        <div class="modal fade" id="cadastrarNovo" tabindex="-1" role="dialog" aria-labelledby="cadastrarNovoLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="cadastrarNovoLabel">Cadastrar Curso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="card-body">

                <div class="form-group">
                  <label><b>Nome</b></label>
                  <input type="text" v-model.trim="post.name" :class="`form-control  ${ errors.name ? `is-invalid` : ``}`" :disabled="loading" required>
                  <div class="invalid-feedback">
                    <p v-for="(name_error, indice) in errors.name" :key="indice">{{ name_error }}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label><b>Link Material</b></label>
                  <input type="text" v-model.trim="post.material" :class="`form-control  ${ errors.material ? `is-invalid` : ``}`" :disabled="loading" required>
                  <div class="invalid-feedback">
                    <p v-for="(material_error, indice) in errors.material" :key="indice">{{ material_error }}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label><b>Descrição</b></label>
                  <textarea type="text" v-model.trim="post.description" rows="3" :class="`form-control  ${ errors.description ? `is-invalid` : ``}`" :disabled="loading" ></textarea>
                  <div class="invalid-feedback">
                    <p v-for="(description_error, indice) in errors.description" :key="indice">{{ description_error }}</p>
                  </div>
                </div>


                <div class="row">

                  <div class="col-12 col-md-3">
                    <div class="form-group">
                      <label><b>Valor</b></label>
                      <input type="text" v-model.trim="post.value" :class="`form-control  ${ errors.value ? `is-invalid` : ``}`" :disabled="loading" required>
                      <div class="invalid-feedback">
                        <p v-for="(value_error, indice) in errors.value" :key="indice">{{ value_error }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-3">
                    <div class="form-group">
                      <label><b>Data Inicio</b></label>
                      <input type="date" v-model.trim="post.start" :class="`form-control  ${ errors.start ? `is-invalid` : ``}`" :disabled="loading" required>
                      <div class="invalid-feedback">
                        <p v-for="(start_error, indice) in errors.start" :key="indice">{{ start_error }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-3">
                    <div class="form-group">
                      <label><b>Data Termino</b></label>
                      <input type="date" v-model.trim="post.end" :class="`form-control  ${ errors.end ? `is-invalid` : ``}`" :disabled="loading" required>
                      <div class="invalid-feedback">
                        <p v-for="(end_error, indice) in errors.end" :key="indice">{{ end_error }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-3">
                    <div class="form-group">
                      <label><b>Qtd Inscrições</b></label>
                      <input type="number" v-model.trim="post.max_subscriptions" :class="`form-control  ${ errors.max_subscriptions ? `is-invalid` : ``}`" :disabled="loading" required>
                      <div class="invalid-feedback">
                        <p v-for="(max_subscriptions_error, indice) in errors.max_subscriptions" :key="indice">{{ max_subscriptions_error }}</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <button class="btn btn-success" @click="submit"> <i class="fas fa-plus"></i> Cadastrar </button>
                </div>

                  
              </div>

            </div>
          </div>
        </div>
    </div>
  </div>

</template>

<script>
export default {
  data(){
    return {
      selectCourse:{
        id: null,
      },
      loading: false,
      errors:[],
      post: {
        id: null,
        name: null,
        description: null,
        value: null,
        start: null,
        end: null,
        max_subscriptions: null,
        material: null,
      }
    }
  },

  mounted(){

    $('#cadastrarNovo').modal({
      show: false,
      keyboard: false,
      backdrop: 'static'
    })
  },

  methods:{
    limpar(){
        this.post.id = null;
        this.post.name = null;
        this.post.description = null;
        this.post.value = null;
        this.post.start = null;
        this.post.end = null;
        this.post.max_subscriptions = null;
        this.post.material = null;
    },

    async submit(){
      this.loading = true;
      await axios.post(`${process.env.MIX_BASE_URL}/course`, this.post).then( res => {
        this.loading = false;

        if(res.data.errors){
          this.errors  = res.data.errors;
          return;
        }

        if(res.data.id){
          Vue.$toast.open({
              message: 'Cadastrado com sucesso',
              type: 'success',
              position: 'top-right',
          });
        }else{
          Vue.$toast.open({
              message: 'Ops tente novamente',
              type: 'error',
              position: 'top-right',
          });
        }

        document.location.reload();

      });
    }
  }
}
</script>

<style>

</style>