<template>
    <div class="container-fluid row">
        <div class="col-12 mt-3">
            <h3 class="text-secondary"><b>Dashboard</b></h3>
            <hr />
            <div class="row">
                <div class="col-12 col-md-3 ">
                    <div class=" bg-white text-secondary h4 p-3 text-center rounded">
                        Cursos <b>4</b>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                      <div class=" bg-white text-secondary h4 p-3 text-center rounded">
                        Alunos <b>3</b>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                      <div class=" bg-white text-secondary h4 p-3 text-center rounded">
                        Inscrições <b>120</b> 
                    </div>
                </div>
                <div class="col-12 col-md-3">
                      <div class=" bg-white text-secondary h4 p-3 text-center rounded">
                        Usuários <b>120</b> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>