@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

body, button, input, textarea, html{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #333;
}

body{
    background: rgb(247, 247, 247);
}

.navbar-light .navbar-nav .nav-link:hover{
    border-radius: 4px !important;
    background: rgba(59, 13, 57, 0.692) !important;
}

table {
    max-width: none;
    border-collapse: separate;
    clear: both;
      margin-top: 6px !important;
      margin-bottom: 6px !important;
  
  }
  
th {
    text-transform: uppercase;
    background-color: #f7f7f9;
    font-size: 1em;
    font-weight: bold;
    white-space: nowrap;
}

.v-select-invalid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23c42903' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23c42903' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-position: center right calc(0.4em + 0.9rem);
    background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
    border: 1px solid #dc3545;
    border-radius: 3px;
    margin-bottom: 3px;
}

.v-select-invalid-feedback {
    color: #dc3545;
    font-weight: normal;
    font-size: 0.8em;
}