<template>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12 text-right">
        <button type="button"  data-toggle="modal" data-target="#cadastrarNovo" @click="limpa();" class="btn btn-success btn"> <i class="fas fa-plus"></i> Cadastrar </button>
      </div>

       <!-- Modal -->
        <div class="modal fade" id="cadastrarNovo" tabindex="-1" role="dialog" aria-labelledby="cadastrarNovoLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="cadastrarNovoLabel">Cadastrar Inscrição</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <div class="modal-body">
                  <h6 class="p-2 bg-light"><b>Dados do usúario</b></h6>
                  <div class="row">

                    <div class="col-12 col-md-6 form-group">
                      <label><b>Usuário</b></label>
                      <v-select v-model.trim="post.user_id" :class="{'v-select-invalid': errors.user_id }"  @input="getUser" :options="users" :reduce="user => user.id" label="name" />
                        <div class="v-select-invalid-feedback">
                          <p v-for="(user_id_error, indice) in errors.user_id" :key="indice">{{ user_id_error }}</p>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 form-group">
                      <label><b>E-mail</b></label>
                      <input type="email" v-model.trim="email" class="form-control " readonly>
                    </div>
                  </div>

                  <h6 class="p-2 bg-light"><b>Dados do Curso</b></h6>

                  <div class="row">
                    <div class="col-12 col-md-6 form-group">
                      <label><b>Curso</b></label>
                       <v-select v-model.trim="post.course_id" :class="`${errors.course_id ? `v-select-invalid ` : ``}`" @input="getCourse" :options="courses" :reduce="course => course.id" label="name" />
                        <div class="v-select-invalid-feedback">
                          <p v-for="(course_id_error, indice) in errors.course_id" :key="indice">{{ course_id_error }}</p>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 form-group">
                      <label><b>Valor</b></label>
                      <input type="text" v-model.trim="value_course" class="form-control " readonly>
                    </div>
                  </div>

                  <div class="row">
                     <div class="col-12 col-md-6 form-group">
                      <label><b>Data Início</b></label>
                      <input type="text" v-model.trim="start" class="form-control " readonly>
                    </div>

                    <div class="col-12 col-md-6 form-group">
                      <label><b>Data Fim</b></label>
                      <input type="text" v-model.trim="end" class="form-control " readonly>
                    </div>
                  </div>

                  <div class="form-group">
                      <label><b>Tipo de Inscrição</b></label>
                       <v-select v-model.trim="post.inscription_type_id" :class="{'v-select-invalid': errors.inscription_type_id }" :options="types" :reduce="type => type.id" label="name" />
                      <div class="v-select-invalid-feedback">
                        <p v-for="(inscription_type_id_error, indice) in errors.inscription_type_id" :key="indice">{{ inscription_type_id_error }}</p>
                      </div>
                  </div>

                  <div class="form-group">
                      <label><b>Status</b></label>
                       <v-select v-model.trim="post.status_id" :class="{'v-select-invalid': errors.status_id }" :options="statuses" :reduce="status => status.id" label="name" />
                      <div class="v-select-invalid-feedback">
                        <p v-for="(status_id_error, indice) in errors.status_id" :key="indice">{{ status_id_error }}</p>
                      </div>
                  </div>

                  <div class="form-group">
                    <button class="btn btn-success" @click="submit"> <i class="fas fa-plus"></i> Inscrever </button>
                  </div>

                </div>
            </div>
          </div>
        </div>
    </div>
  </div>

</template>

<script>
export default {
  props: ['users', 'courses', 'types', 'statuses'],
  data(){
    return {
      selectCourse:{ 
        index: null,
      },
      loading: false,
      errors:[],
      name: null,
      email: null,
      value_course: null,
      start: null,
      end: null,
      post: {
        id: null,
        course_id: null,
        user_id: null,
        inscription_type_id: null,
        status_id: null,
      }
    }
  },

  mounted(){
    $('#cadastrarNovo').modal({
      show: false,
      keyboard: false,
      backdrop: 'static'
    })
  },

  methods:{
    limpa(){
        this.post.id = null;
        this.post.course_id = null;
        this.post.user_id = null;
        this.post.inscription_type_id = null;
        this.post.status_id = null;
    },

    async getCourse(){

      await axios.get(`${process.env.MIX_BASE_URL}/getcourses/${ this.post.course_id}`).then( res => {
        if(res.data.validate_course_end){
          Vue.$toast.open({
              message: 'As matriculas já estão encerradas',
              type: 'error',
              position: 'top-right',
          });
          $("#cadastrarNovo").modal('hide');
          return; 
        }
        this.value_course  = res.data.value;
        this.start  = res.data.start;
        this.end  = res.data.end;
      });

    },

  
    async getUser(){
      await axios.get(`${process.env.MIX_BASE_URL}/getuser/${this.post.user_id}`).then( res => {
          this.post.user_id = res.data.id;
          this.name  = res.data.name;
          this.email  = res.data.email;
      });
    },

    async submit(){
      this.loading = true;
      await axios.post(`${process.env.MIX_BASE_URL}/subscription${this.post.id ? this.post.id : ``}`, this.post).then( res => {
        this.loading = false;

        if(res.data.errors){
          this.errors  = res.data.errors;
          return;
        }

        if(res.data.id){
          Vue.$toast.open({
              message: 'Ação com sucesso',
              type: 'success',
              position: 'top-right',
          });
        }else{
          Vue.$toast.open({
              message: 'Ops tente novamente',
              type: 'error',
              position: 'top-right',
          });
        }

        document.location.reload();

      });
    }
  },

}
</script>
